// ******************* Card offer ************************

.offer_card {
  background-color: $white;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid $pri-salmon;
  margin-right: 20px;
}

.img_info {
  padding: 15px;
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.infos {
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.full-name {
  font-size: 30px;
  font-weight: bold;
  font-family: $h3-font;
  color: $sec-teal;
}

.skills {
  font-family: $headers-font;
  color: $sec-teal;
  font-weight: bold;
}

.rating_price {
  display: flex;
  justify-content: space-between;
  color: $sec-teal;
  font-weight: bold;
}

.offer_description {
  height: 200px;
  padding: 20px 40px 20px 40px;
  border-top: 1px solid $pri-salmon;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.profile-image > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.offer_description:first-line {
  font-family: $headers-font;
  color: $sec-teal;
  font-weight: bold;
}



// ******************* Card trip // Homepage and Index ************************

.card-trip {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  height: 23em;

// borders
  border-radius: 5px;
  border: 1px solid blue;

// linear gradient background
  // border-radius: 6px;
  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.card-trip > img {
  height: 50%;
  object-fit: initial;
  border-radius: 5px 5px 0 0;

// borders
  width: 100%;
  border: 1px solid red;

// linear gradient
  // width: 99%;
  // position: relative;
  // left: 0.5%;
  // top: 0.5%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: $h3-font;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-top: 10px;
  word-break: break-all;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background-color: $alm-white;
  border-radius: 0 0 5px 5px;

// borders
  width: 100%;
  height: 50%;
  border: 1px solid #9acd32;

  // linear gradient

  //   width: 99%;
  //   height: 49%;
  //   border-radius: 0 0 5px 5px;
  //   left: 0.5%;
  //   top: 0.5%;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

.card-trip .card-trip-text {
  word-wrap: break-word;
}

.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  // align-content: space-around;
}


// ******************* reviews ************************

.card-review {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 15px;
  background-color: $sec-salmon;
  border-radius: 20px;
  border: 3px solid $pri-salmon;
}

.card-review > img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.star-rating {
  height: 15px !important;
  width: 15px;
}

.review-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 50px 0px;
}

.card-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-review .card-review-infos {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


// ******************* Card product // Dashboard ************************


.card-product {
  overflow: hidden;
  height: 310px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 18px solid $sec-salmon;
  border-radius: 30px;
  margin-bottom: 20px;

}

.card-product img {
  height: 100%;
  width: 310px;
  object-fit: cover;
}


// .card-product-infos h2 {
//   font-size: 24px;
//   font-weight: bold;
//   margin: 0;
// }

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// ******************* Your offers ************************

.your-offers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.your-offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.your-offer-card {
  background-color: #ffffff;
  width: 40vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid #ff9477;
  margin: 0 25px 25px 0;

}

.your-offer-card .offer_description {
  overflow-wrap: break-word;
}

.your-offer-card .rating_price {
  flex-direction: column-reverse;
}

.your-offer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
  }
